---
layout: blog
title: Blog
permalink: /blog
---

<div class="jumbtron">
  <h2 class="">Bienvenue sur mon blog</h2>
  <p class="text-muted">Je blog sur ma veille téchnologique, des découvertes et des projets personnels...</p>
  <hr/>
</div>

{% for post in site.posts %}
  <div class="blog-post">
    <h3 class="blog-post-title">{{ post.title }}</h3>
    <p class="blog-post-meta">{{ post.date | date: "%b %-d, %Y" }} Par <a href="/">{{ post.author }}</a></p>
    <p>
      {{ post.excerpt }}
	  {% if post.excerpt != post.content %}
        <a href="{{ site.baseurl }}{{ post.url }}"> Lire plus</a>
      {% endif %}
    </p>
  </div>
  <hr/>
{% endfor %}
