<section id="archive" class="archive-post-list">
   {% for post in site.posts %}
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h5>{{ currentDate }}</h5>
           <ul class="">
           {% assign myDate = currentDate %}
       {% endif %}
       <li><small>{{ post.date | date: "%B %-d" }} - <a href="{{ post.url }}">{{ post.title }}</a></small></li>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}

</section>
