<hr/>
<footer>
    <div class="col-md-6">
      <p>
        Le contenu de ce site &copy;&nbsp;{{ site.time | date: '%Y' }} est open source<br/>
         et sous la licence  <a href="{{ site.github_repo }}/blob/master/LICENSE">MIT</a>.
       </p>
    </div>
    <div class="col-md-6">
      <p class="pull-right">
        Proudly hosted by
        <a href="{{ site.github_repo }}" target="_blank">
          Github
        </a>
      </p>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- goole plus +1 button -->>
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'fr'}
</script>
<!-- facebook like button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
