<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Anas Khabali</a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a title="Blog" href="/">Blog</a></li>
          <li><a title="CV" href="https://linkedin.com/in/{{site.linkedin_username}}">Mon CV</a></li>
          <li><a title="About" href="/about-me/">À Propos</a></li>
      </ul>
    </div>

	<div class="avatar-container">
	  <div class="avatar-img-border">
			<a title="Anas KHABALI" href="/">
				<img class="avatar-img" src="{{ site.author_avatar }}" alt="Anas Khabali" />
			</a>
	  </div>
	</div>

  </div>
</nav>
