<div>
	<a href="/">
	<img width="150px" height="150px" src="{{ site.author_avatar }}" alt="anas khabali image" class="img-circle">
	</a>
	<h2>Anas Khabali</h2>
	<p>Développeur Java</p>
	<div>
		<ul class="list-unstyled">
			<li><a href="mailto:anas.khabali@gmail.com">Email <i class="fa fa-envelope" aria-hidden="true"></i></a></li>
			<li><a href="https://fr.linkedin.com/in/{{site.linkedin_username}}" target="_blank">Linkedin <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			<li><a href="https://github.com/{{site.github_username}}" target="_blank">Github <i class="fa fa-github" aria-hidden="true"></i></a></li>
			<li><a href="https://twitter.com/{{site.twitter_username}}" target="_blank">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS <i class="fa fa-rss" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</div>