<div>
  {% include archive.html %}
</div>


<div class="media">
  <h3 class="media-heading">Qui suis je ?</h3>
  <div class="media-left">
      <img class="media-object" width="60px" src="{{ site.author_avatar }}" alt="anas khabali image">
  </div>
  <div class="media-body">
    {{site.description}}
  </div>
</div>

<div>
  <h3>Elsewhere</h3>
  <p>
    <a class="btn btn-primary" href="https://fr.linkedin.com/in/{{site.linkedin_username}}" target="_blank">
      <i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin
    </a>
    <a class="btn btn-default" href="https://github.com/{{site.github_username}}" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i> Github
    </a>
    <a class="btn btn-info" href="https://twitter.com/{{site.twitter_username}}" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
    </a>
  </p>
</div>
