---
layout: compress
---
{% include top.html %}

<body>

	  <div class="container">
		{% include header.html %}
		{{ content }}
	  </div>
	  {% include footer.html %}
	  {% include analytics.html %}

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script async  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script async src="/js/bootstrap.min.js"></script>
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script async type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5840c23d2fb52eda"></script>
</body>
</html>
