---
layout: blog
---
<div class="blog-post">
  <h2 class="blog-post-title">{{ page.title }}</h2>
  <p class="blog-post-meta">{{ page.date | date: "%b %-d, %Y" }} by <a href="#">{{ page.author }}</a></p>
  <div class="row">
    <div class="fb-like col-md-4" data-href="https://khabali.github.io"  data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
    <div class="g-plusone col-md-4" data-annotation="inline" ></div>
  </div>
  <hr/>
  <p>
    {{ content }}
  </p>
</div>
